################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WEB2-Project/WebApp/.vs/WebApp/v16/Server/sqlite3
